<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Template</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h2>This is a test, yo.</h2>

<h2>Here's how you set up and push to Heroku.</h2>

<ul>
<li>git init</li>
<li>heroku login</li>
<li>heroku create</li>
<li>echo "web: node server.js" > Procfile</li>
<li>git add . </li>
<li>git commit -m "changes"</li>
<li>git push heroku main</li>
</ul>

<script src='/main.js'></script>
</body>
</html>